@font-face {
    font-family: 'vazie';
    src: url('../fonts/vazir.eot'); 
    src: url('../fonts/vazir.ttf')  format('truetype'), 
         url('../fonts/vazir.woff2') format('woff2'), 
         url('../fonts/vazir.woff') format('woff');
  }
  *{
      padding: 0;
      margin: 0;
  }
  body{
      font-family: 'vazir';
      direction: rtl;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background:linear-gradient(90deg, #fff, rgb(226, 137, 20));
  }
  .search{
      height: 50px;
      position: relative;
  }
  .search input{
      font-size: 18px;
      padding: 5px 10px;
      box-sizing: border-box;
      border: 0px;
      width: 20px;
      transition: width 0.4s ease;
      outline: 0;
      border-radius: 0px 10px 10px 0px;
  }
  .search.active input {
    width: 300px;
}
  .search .btn{
      padding: 15px;
      border: none;
      background-color: #fff;
      position: absolute;
      top:0px; 
      right: 0px;
      height: 31px;
      cursor: pointer;
      transition: right .4s ease;
  }
  img.searchimg {
    width: 17px;
    height: 14px;
    position: relative;
    top: -5px;
}
.search.active .btn{

    right: 250px;
}